.block {
    margin: var(--little-spacing);
    padding: var(--medium-spacing);
    box-sizing: border-box;
    border-radius: var(--radius);
    background-color: var(--background-dark-1);
}

.block:hover {
    transition: box-shadow .4s;
    box-shadow: 0 0 10px var(--background-light-1);
}

.block > :first-child {
    margin-top: 0 !important;
}
.block > :last-child {
    margin-bottom: 0 !important;
}

.block--test {
    width: 200px;
    height: 200px;
}