.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--medium-spacing);
    box-sizing: border-box;
}

.login-content {
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    padding: var(--medium-spacing);
    margin: var(--medium-spacing);
}