.logo {
    font-size: 3rem;
    font-weight: bold;
    user-select: none;
}

.logo span {
    background: rgb(184,30,33);
    background: linear-gradient(90deg, rgb(184, 30, 33) 0%, rgb(235, 129, 9) 16%, rgb(229, 176, 0) 35%, rgb(159, 187, 17) 55%, rgba(60,160,151,1) 76%, rgba(46,118,166,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo--large {
    font-size: 6rem;
}