.seperator {
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}

.margin-top--little {
    margin-top: var(--little-spacing);
}

.margin-top--medium {
    margin-top: var(--medium-spacing);
}

.margin-top--large {
    margin-top: var(--large-spacing);
}

.title {
    font-weight: bold;
    font-size: 3rem;
    margin-top: var(--medium-spacing);
    line-height: 1;
    text-align: left;
}

.block--default {
    margin: var(--little-spacing);
}